@font-face {
  src: url("../font/TTF/helveticaneue.ttf");
  font-family: HelveticaN; }
@font-face {
  src: url("../font/TTF/helveticaneuelight.ttf");
  font-family: HelveticaL; }
@font-face {
  src: url("../font/TTF/helveticaneueultralight.ttf");
  font-family: HelveticaUL; }
@font-face {
  src: url("../font/TTF/helveticaneuemedium.ttf");
  font-family: HelveticaM; }
@font-face {
  src: url("../font/TTF/helveticaneuebold.ttf");
  font-family: HelveticaB; }
html, body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; }

ol, ul {
  margin-left: -4rem;
  list-style: none; }

a {
  text-decoration: none !important; }

.header {
  width: 100%;
  background: white;
  transition: 0.4s; }
  .header .container .bg-dark {
    background-color: transparent !important; }
    .header .container .bg-dark .navbar-brand {
      font-size: 2.2rem;
      color: #FF0000;
      padding: 0px 2rem;
      border-radius: 0.4rem; }
      .header .container .bg-dark .navbar-brand img {
        width: 20rem;
        height: 5rem; }
    .header .container .bg-dark .navbar-collapse {
      line-height: 6rem; }
      .header .container .bg-dark .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #01286E;
        transition: 0.4s;
        font-size: 1.8rem; }
      .header .container .bg-dark .navbar-collapse .navbar-nav .nav-item img {
        height: 1.6rem; }
      .header .container .bg-dark .navbar-collapse .navbar-nav .nav-item .dropdown-item {
        font-size: 1.8rem; }
      .header .container .bg-dark .navbar-collapse form .btn-outline-success {
        color: #ffffff;
        border-color: #ffffff; }

/* END HEADER */
/* CSS FOR SLIDE */
.slide-banner {
  width: 100%;
  background: #f7f7f7; }
  .slide-banner .carousel {
    height: 60rem; }
    .slide-banner .carousel .carousel-indicators {
      bottom: -6rem; }
      .slide-banner .carousel .carousel-indicators li {
        width: 4rem;
        height: 0.4rem;
        background-color: #01286E; }
    .slide-banner .carousel .carousel-inner {
      height: 100%;
      background: black; }
      .slide-banner .carousel .carousel-inner .carousel-item img {
        width: 100%;
        filter: brightness(30%);
        object-fit: cover;
        position: relative;
        background-size: cover; }
      .slide-banner .carousel .carousel-inner .carousel-item .text-2 {
        position: absolute;
        width: 100rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        text-align: center; }
        .slide-banner .carousel .carousel-inner .carousel-item .text-2 h2 {
          font-size: 5.5rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          color: white;
          margin-bottom: 4rem;
          letter-spacing: 3px; }
        .slide-banner .carousel .carousel-inner .carousel-item .text-2 p {
          font-size: 2.2rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          color: white;
          letter-spacing: 2px; }
      .slide-banner .carousel .carousel-inner .carousel-item video {
        display: block;
        width: 100%;
        height: 60rem;
        object-fit: cover;
        overflow: hidden; }
      .slide-banner .carousel .carousel-inner .carousel-item .video-retail {
        object-position: 0;
        overflow: hidden;
        filter: brightness(50%); }
      .slide-banner .carousel .carousel-inner .carousel-item .video-insurance {
        object-position: -10rem; }
    .slide-banner .carousel .carousel-control-prev span .fa-chevron-circle-left {
      font-size: 4.6rem;
      color: white; }
    .slide-banner .carousel .carousel-control-next span .fa-chevron-circle-right {
      font-size: 4.6rem;
      color: white; }

.button-fom {
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  font-size: 2rem;
  width: 20%;
  margin: 5rem auto; }
  .button-fom a {
    color: #333; }

/* END CSS FOR SLIDE */
.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #f7f7f7; }
  .features .upper {
    margin-top: 6rem;
    margin-bottom: 6rem; }
    .features .upper h1 {
      position: relative;
      color: #01286E;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 5rem; }
      .features .upper h1:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: #01286E; }
    .features .upper p {
      color: #333;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 3rem;
      max-width: 114rem;
      display: block;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 4rem; }
  .features .lower .features-box.col-md-4 {
    padding: 2rem 0px;
    margin-bottom: 2.2rem; }
    .features .lower .features-box.col-md-4 .icon-box {
      width: 10rem;
      height: 10rem;
      line-height: 10.5rem;
      border-radius: 9rem;
      margin: auto;
      position: relative;
      margin-bottom: 3.5rem;
      box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.07); }
      .features .lower .features-box.col-md-4 .icon-box img {
        width: 60%;
        height: 60%; }
    .features .lower .features-box.col-md-4 h4 {
      color: #003c69;
      font-size: 2.2rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
      letter-spacing: 0.1rem; }
    .features .lower .features-box.col-md-4 p {
      font-size: 1.6rem;
      line-height: 2.7rem;
      color: #666;
      max-width: 20rem;
      margin: 0 auto;
      letter-spacing: 0.1rem; }
    .features .lower .features-box.col-md-4:hover {
      background: #01286E;
      border-radius: 0.8rem;
      transition: 0.6s;
      transform: translateY(-2rem); }
      .features .lower .features-box.col-md-4:hover .icon-box {
        background: white; }
      .features .lower .features-box.col-md-4:hover h4 {
        color: white; }
      .features .lower .features-box.col-md-4:hover p {
        color: white; }

.portfolio .upper {
  position: relative;
  color: #01286E;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 5.2rem;
  margin-top: 8rem;
  margin-bottom: 6rem; }
  .portfolio .upper:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background-color: #01286E; }
.portfolio .lower .row .col-md-4 {
  padding: 4rem 6rem 10rem 6rem;
  box-sizing: border-box; }
  .portfolio .lower .row .col-md-4 .portfolio-box {
    position: relative;
    display: block;
    height: 5rem;
    margin: 0 0rem 5rem 0; }
    .portfolio .lower .row .col-md-4 .portfolio-box .portfolio-box-caption {
      display: flex;
      border-radius: 0.7rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      opacity: 0;
      color: #fff;
      background: #01286E;
      transition: opacity .25s ease; }
      .portfolio .lower .row .col-md-4 .portfolio-box .portfolio-box-caption .project-category {
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase; }
      .portfolio .lower .row .col-md-4 .portfolio-box .portfolio-box-caption .project-name {
        font-size: 2.2rem;
        font-weight: 400; }
    .portfolio .lower .row .col-md-4 .portfolio-box:hover .portfolio-box-caption {
      opacity: 0; }

.solution .container h1 {
  text-align: center;
  color: #01286E;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem; }
.solution .container .row .col-md-4 .row .col-8 h3 {
  color: #01286E;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
.solution .container .row .col-md-4 .row .col-8 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #333; }

.about-us {
  background: #f7f7f7;
  padding: 8rem 0rem; }
  .about-us .container .upper h2 {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.2rem;
    color: #01286E; }
    .about-us .container .upper h2:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: #01286E; }
  .about-us .container .upper p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
    max-width: 114rem;
    display: block;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .about-us .container .lower {
    margin-top: 5rem; }
    .about-us .container .lower .row .team-content .member-image {
      width: 19rem;
      height: 19rem;
      overflow: hidden;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 2rem;
      border-radius: 9rem;
      box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.07); }
    .about-us .container .lower .row .team-content h5 {
      text-align: center;
      font-size: 2.4rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      margin: 2rem auto;
      margin-bottom: 1rem;
      color: #01286E;
      max-width: 33rem; }
    .about-us .container .lower .row .team-content ul li {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      margin: 1rem auto;
      max-width: 27rem;
      letter-spacing: 0.1rem; }
    .about-us .container .lower .row .team-content p {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      margin: 1rem auto;
      max-width: 27rem;
      letter-spacing: 0.1rem; }

footer {
  background: #373737;
  width: 100%; }
  footer .container {
    max-width: 114rem; }
    footer .container .row .col-md-3, footer .container .row .col-md-4 {
      padding-top: 6rem;
      padding-bottom: 8rem; }
      footer .container .row .col-md-3 h4, footer .container .row .col-md-4 h4 {
        color: white;
        font-size: 2.3rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        margin-bottom: 4rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem; }
      footer .container .row .col-md-3 ul li p, footer .container .row .col-md-4 ul li p {
        color: white;
        font-size: 1.4rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 1.4rem; }
      footer .container .row .col-md-3 ul li span, footer .container .row .col-md-4 ul li span {
        color: white;
        font-size: 1.4rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 1.4rem; }
      footer .container .row .col-md-3 ul li .fas, footer .container .row .col-md-4 ul li .fas {
        display: inline-block;
        color: white;
        font-size: 1.2rem;
        margin-right: 1.4rem; }
    footer .container .row .col-md-4 ul li {
      margin-bottom: 1rem !important; }
    footer .container .row .col-md-2 {
      padding-top: 6rem;
      padding-bottom: 8rem; }
      footer .container .row .col-md-2 ul li .fab {
        color: white;
        font-size: 3rem;
        line-height: 5rem; }

.contact-banner {
  position: relative;
  width: 100%;
  height: 55rem;
  background: url("../../assets/img/contact-banner.jpg") no-repeat fixed; }
  .contact-banner .contact-banner-graylayer {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5; }
  .contact-banner .container h4 {
    font-size: 6.3rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }

.contact-map-frame .col-md-6 {
  padding: 2rem 2rem; }
  .contact-map-frame .col-md-6 h4 {
    font-size: 3.2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #01286E;
    margin-left: 5rem;
    margin-bottom: 2rem;
    display: block; }
  .contact-map-frame .col-md-6 p {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #333;
    margin-left: 5rem;
    margin-bottom: 1rem; }
  .contact-map-frame .col-md-6 span {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #333;
    margin-left: 5rem;
    display: inline-block;
    margin-bottom: 3rem; }
  .contact-map-frame .col-md-6 iframe {
    width: 100%;
    height: 40rem;
    margin-left: 5rem; }

.join-us-banner {
  background: url("../../assets/img/join-us.jpg") no-repeat fixed !important;
  background-size: cover !important; }

.about-us-content .aboutus {
  margin: 6rem auto; }
  .about-us-content .aboutus h4 {
    position: relative;
    color: #01286E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5rem; }
    .about-us-content .aboutus h4:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: #01286E; }
  .about-us-content .aboutus p {
    text-align: justify;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
    max-width: 114rem;
    display: block;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem; }
.about-us-content .vision {
  margin-bottom: 6rem; }
  .about-us-content .vision h4 {
    position: relative;
    color: #01286E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5rem; }
    .about-us-content .vision h4:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: #01286E; }
  .about-us-content .vision p {
    text-align: justify;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
    max-width: 114rem;
    display: block;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem; }
.about-us-content .mission {
  margin-bottom: 6rem; }
  .about-us-content .mission h4 {
    position: relative;
    color: #01286E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5rem; }
    .about-us-content .mission h4:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: #01286E; }
  .about-us-content .mission ul li {
    background: url("../img/mini-logo.png") no-repeat left top;
    text-align: justify;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
    max-width: 114rem;
    display: block;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding-left: 5rem; }

@media (max-width: 576px) {
  .logo {
    width: 16rem !important;
    height: 4rem !important; }

  .carousel.slide {
    height: 45rem !important; }
    .carousel.slide .carousel-indicators {
      bottom: -5rem !important; }
      .carousel.slide .carousel-indicators li {
        width: 3rem !important;
        height: 0.3rem !important;
        background-color: #01286E; }
    .carousel.slide .carousel-inner {
      height: 100%;
      background: black; }
      .carousel.slide .carousel-inner .carousel-item {
        height: 100%; }
        .carousel.slide .carousel-inner .carousel-item img {
          width: auto !important;
          filter: brightness(30%);
          object-fit: cover;
          position: relative;
          background-size: cover;
          height: 100% !important;
          overflow: hidden; }
        .carousel.slide .carousel-inner .carousel-item .text-2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100% !important; }
          .carousel.slide .carousel-inner .carousel-item .text-2 h2 {
            font-size: 3rem !important;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: #f7f7f7;
            margin-bottom: 2rem !important;
            margin: 0 3rem !important;
            text-align: center; }
          .carousel.slide .carousel-inner .carousel-item .text-2 p {
            font-size: 1.4rem !important;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #f7f7f7;
            max-width: 34rem !important;
            margin-left: 3rem !important;
            letter-spacing: 0.2rem !important;
            text-align: center;
            margin-top: 2rem !important; }
        .carousel.slide .carousel-inner .carousel-item video {
          display: block;
          width: auto;
          height: 100%;
          object-fit: cover;
          overflow: hidden; }
        .carousel.slide .carousel-inner .carousel-item .video-retail {
          object-position: 0;
          overflow: hidden;
          filter: brightness(50%); }
        .carousel.slide .carousel-inner .carousel-item .video-insurance {
          object-position: -25rem !important; }
    .carousel.slide .carousel-control-prev {
      opacity: 0; }
      .carousel.slide .carousel-control-prev span .fa-chevron-circle-left {
        font-size: 4.6rem;
        color: white; }
    .carousel.slide .carousel-control-next {
      opacity: 0; }
      .carousel.slide .carousel-control-next span .fa-chevron-circle-right {
        font-size: 4.6rem;
        color: white; }

  .button-fom {
    margin-top: 4rem !important;
    padding: 1rem 3rem !important;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 1.4rem !important; }

  .btn-info {
    margin-top: 4rem !important;
    width: 50% !important;
    margin: auto auto; }

  .btn-warning {
    width: 50%; }

  .contact-banner {
    position: relative;
    width: 100%;
    height: 45rem;
    background: url("../../assets/img/contact-banner.jpg") no-repeat fixed; }
    .contact-banner .contact-banner-graylayer {
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.5; }
    .contact-banner .container h4 {
      font-size: 3.6rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }

  .contact-map-frame .col-md-6 {
    padding: 2rem 2rem; }
    .contact-map-frame .col-md-6 h4 {
      margin-left: 0 !important; }
    .contact-map-frame .col-md-6 p {
      margin-left: 0 !important; }
    .contact-map-frame .col-md-6 span {
      margin-left: 0 !important; }
    .contact-map-frame .col-md-6 iframe {
      width: 100%;
      height: 40rem;
      margin-left: 0 !important; }

  footer {
    background: #373737;
    width: 100%; }
    footer .container {
      max-width: 114rem; }
      footer .container .row .col-md-3, footer .container .row .col-md-4 {
        padding-top: 2rem;
        padding-bottom: 3rem; }
        footer .container .row .col-md-3 h4, footer .container .row .col-md-4 h4 {
          color: white;
          font-size: 2.1rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          margin-bottom: 2rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem; }
        footer .container .row .col-md-3 ul li p, footer .container .row .col-md-4 ul li p {
          color: white;
          font-size: 1.2rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          letter-spacing: 0.2rem;
          line-height: 1.2rem; }
        footer .container .row .col-md-3 ul li span, footer .container .row .col-md-4 ul li span {
          color: white;
          font-size: 1.2rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          letter-spacing: 0.2rem;
          line-height: 1.2rem; }
        footer .container .row .col-md-3 ul li .fas, footer .container .row .col-md-4 ul li .fas {
          display: inline-block;
          color: white;
          font-size: 1.2rem;
          margin-right: 1.4rem; }
      footer .container .row .col-md-4 ul li {
        margin-bottom: 1rem !important; }
      footer .container .row .col-md-2 {
        padding-top: 2rem;
        padding-bottom: 3rem; }
        footer .container .row .col-md-2 ul li {
          float: left; }
          footer .container .row .col-md-2 ul li .fab {
            color: white;
            font-size: 3rem;
            line-height: 5rem;
            margin-right: 2rem; } }
@media (min-width: 1300px) {
  .container {
    max-width: 1140px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1300px; } }
/* Animation */
.blue-bg {
  transition: 0.4s;
  z-index: 16;
  position: fixed;
  background: #01286E; }

.white-font {
  color: white !important;
  font-size: 1.6rem !important; }

.scroll-lineheight {
  line-height: 3.2rem !important; }

.flag-height {
  height: 1.5rem !important; }

.temenos-banner {
  background: url("../../assets/img/temenos-banner.jpg") no-repeat center;
  height: 50rem; }

.temenos .about-temenos {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  max-width: 99.6rem; }
  .temenos .about-temenos h3 {
    position: relative;
    font-size: 5.5rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #01286E;
    margin-bottom: 5rem; }
    .temenos .about-temenos h3:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: #01286E; }
  .temenos .about-temenos h4 {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #01286E;
    max-width: 99.6rem;
    margin: 8rem auto; }
  .temenos .about-temenos p {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #000000cc;
    max-width: 80rem;
    margin: 2rem auto; }
.temenos .number-about-temenos {
  margin: 8rem auto; }
  .temenos .number-about-temenos .col-md-3 h1 {
    font-size: 6rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #01286E; }
  .temenos .number-about-temenos .col-md-3 p {
    font-size: 1.8rem;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: black;
    max-width: 16rem;
    margin: 2rem auto; }
.temenos .detail-temenos h4 {
  font-size: 5.5rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #01286E;
  margin: 3rem auto;
  position: relative; }
  .temenos .detail-temenos h4:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background-color: #01286E; }
.temenos .detail-temenos img {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  height: auto; }
.temenos .detail-temenos .custom-container {
  max-width: 99.6rem;
  margin: 2rem auto; }
  .temenos .detail-temenos .custom-container ul li {
    background: url("../img/temenos-mini-logo.png") no-repeat left top;
    text-align: justify;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    max-width: 114rem;
    display: block;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding-left: 5rem; }

/*# sourceMappingURL=style.css.map */
