@font-face {
  src: url("../font/TTF/helveticaneue.ttf");
  font-family: HelveticaN;
}

@font-face {
  src: url("../font/TTF/helveticaneuelight.ttf");
  font-family: HelveticaL;
}

@font-face {
  src: url("../font/TTF/helveticaneueultralight.ttf");
  font-family: HelveticaUL;
}

@font-face {
  src: url("../font/TTF/helveticaneuemedium.ttf");
  font-family: HelveticaM;
}

@font-face {
  src: url("../font/TTF/helveticaneuebold.ttf");
  font-family: HelveticaB;
}

//#003c69
//#01286E
$main-black: #333;
$main-blue: #01286E;
$main-red: #FF0000;
$white-fa: #f7f7f7;
$footer-black: #373737;
$sans: 'Open Sans', sans-serif;

// RESET AND CONFIG

html, body {
  width: 100%;
  font-family: $sans;
  font-size: 62.5%;
}

ol, ul {
  margin-left: -4rem;
  list-style: none;
}

a {
  text-decoration: none !important;
}

// CSS FOR HEADER
.header {
  width: 100%;
  background: white;
  transition: 0.4s;
  //border-bottom: 3px solid white;

  .container {

    .bg-dark {
      background-color: transparent !important;

      .navbar-brand {
        font-size: 2.2rem;
        color: $main-red;
        padding: 0px 2rem;
        border-radius: 0.4rem;

        img {
          width: 20rem;
          height: 5rem;
        }
      }

      .navbar-collapse {
        line-height: 6rem;

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $main-blue;
              transition: 0.4s;
              font-size: 1.8rem;
            }

            img {
              height: 1.6rem;
            }

            .dropdown-item {
              font-size: 1.8rem;
            }
          }

        }


        form {
          .btn-outline-success {
            color: #ffffff;
            border-color: #ffffff;
          }
        }
      }
    }
  }
}

/* END HEADER */

/* CSS FOR SLIDE */
.slide-banner {
  width: 100%;

  background: $white-fa;

  .carousel {

    height: 60rem;

    .carousel-indicators {
      bottom: -6rem;

      li {
        width: 4rem;
        height: 0.4rem;
        background-color: $main-blue;
      }
    }

    .carousel-inner {
      height: 100%;
      background: black;

      .carousel-item {

        img {
          width: 100%;
          filter: brightness(30%);
          object-fit: cover;
          position: relative;
          background-size: cover;
        }


        .text-2 {
          position: absolute;
          width: 100rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          text-align: center;

          h2 {
            font-size: 5.5rem;
            font-family: $sans;
            font-weight: 400;
            color: white;
            margin-bottom: 4rem;
            letter-spacing: 3px;
          }

          p {
            font-size: 2.2rem;
            font-family: $sans;
            font-weight: 300;
            color: white;
            letter-spacing: 2px;
          }
        }

        video {
          display: block;
          width: 100%;
          height: 60rem;
          object-fit: cover;
          overflow: hidden;
        }

        .video-retail {
          object-position: 0;
          overflow: hidden;
          filter: brightness(50%);
        }

        .video-insurance {
          object-position: -10rem;
        }
      }
    }


    .carousel-control-prev {

      span {
        .fa-chevron-circle-left {
          font-size: 4.6rem;
          color: white;
        }
      }
    }

    .carousel-control-next {

      span {
        .fa-chevron-circle-right {
          font-size: 4.6rem;
          color: white;
        }
      }
    }

  }

}

.button-fom {
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  font-size: 2rem;
  width: 20%;
  margin: 5rem auto;

  a {
    color: $main-black;
  }
}

/* END CSS FOR SLIDE */

// BEGIN FEATURES
.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: $white-fa;

  .upper {
    margin-top: 6rem;
    margin-bottom: 6rem;


    h1 {
      position: relative;
      color: $main-blue;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }

    }

    p {
      color: $main-black;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 3rem;
      max-width: 114rem;
      display: block;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 4rem;
    }
  }

  .lower {

    .features-box.col-md-4 {
      padding: 2rem 0px;
      margin-bottom: 2.2rem;

      .icon-box {
        width: 10rem;
        height: 10rem;
        line-height: 10.5rem;
        border-radius: 9rem;
        margin: auto;
        position: relative;
        margin-bottom: 3.5rem;
        box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, .07);

        img {
          width: 60%;
          height: 60%;
        }
      }

      h4 {
        color: #003c69;
        font-size: 2.2rem;
        font-family: $sans;
        font-weight: 700;
        line-height: 2.2rem;
        margin-bottom: 1.5rem;
        letter-spacing: 0.1rem;

      }

      p {
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: #666;
        max-width: 20rem;
        margin: 0 auto;
        letter-spacing: 0.1rem;
      }

      &:hover {
        background: #01286E;
        border-radius: 0.8rem;
        transition: 0.6s;
        transform: translateY(-2rem);

        .icon-box {
          background: white;
        }

        h4 {
          color: white;
        }

        p {
          color: white;
        }
      }
    }

  }
}

// END FEATURES

// BEGIN PORTFOLIO

.portfolio {
  .upper {
    position: relative;
    color: #01286E;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.2rem;
    margin-top: 8rem;
    margin-bottom: 6rem;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 100px;
      height: 4px;
      margin-left: -50px;
      background-color: $main-blue;
    }
  }

  .lower {

    .row {
      .col-md-4 {
        padding: 4rem 6rem 10rem 6rem;
        box-sizing: border-box;

        .portfolio-box {
          position: relative;
          display: block;
          height: 5rem;
          margin: 0 0rem 5rem 0;

          .portfolio-box-caption {
            display: flex;
            border-radius: 0.7rem;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            opacity: 0;
            color: #fff;
            background: $main-blue;
            transition: opacity .25s ease;

            .project-category {
              font-size: 2.2rem;
              font-weight: 700;
              text-transform: uppercase;
            }

            .project-name {
              font-size: 2.2rem;
              font-weight: 400;
            }
          }

          &:hover {
            .portfolio-box-caption {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

// END PORTFOLIO

// SOLUTION
.solution {
  .container {
    h1 {
      text-align: center;
      color: $main-blue;
      font-family: $sans;
      font-weight: 600;
      font-size: 4rem;
      line-height: 4.8rem;
    }

    .row {
      .col-md-4 {
        .row {
          .col-2 {
            img {

            }
          }

          .col-8 {
            h3 {
              color: $main-blue;
              font-family: $sans;
              font-weight: 600;
            }

            p {
              font-family: $sans;
              font-weight: 400;
              letter-spacing: 0.1rem;
              color: #333;
            }
          }
        }
      }
    }
  }
}

//END SOLUTION

//BEGIN ABOUT US
.about-us {
  background: $white-fa;
  padding: 8rem 0rem;

  .container {
    .upper {
      h2 {
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 4.6rem;
        line-height: 5.2rem;
        color: $main-blue;

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -30px;
          width: 100px;
          height: 4px;
          margin-left: -50px;
          background-color: $main-blue;
        }
      }

      p {
        color: #333;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 3rem;
        max-width: 114rem;
        display: block;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
    }

    .lower {
      margin-top: 5rem;

      .row {
        .team-content {
          .member-image {
            width: 19rem;
            height: 19rem;
            overflow: hidden;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: 2rem;
            border-radius: 9rem;
            box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, .07);
          }

          h5 {
            text-align: center;
            font-size: 2.4rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            margin: 2rem auto;
            margin-bottom: 1rem;
            color: $main-blue;
            max-width: 33rem;
          }

          ul {
            li {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 300;
              margin: 1rem auto;
              max-width: 27rem;
              letter-spacing: 0.1rem;
            }
          }

          p {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 300;
            margin: 1rem auto;
            max-width: 27rem;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
  }
}

//END ABOUT US

// BEGIN FOOTER

footer {
  background: $footer-black;
  width: 100%;

  .container {
    max-width: 114rem;

    .row {
      .col-md-3, .col-md-4 {
        padding-top: 6rem;
        padding-bottom: 8rem;

        h4 {
          color: white;
          font-size: 2.3rem;
          font-family: $sans;
          font-weight: 600;
          margin-bottom: 4rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }

        ul {
          li {
            p {
              color: white;
              font-size: 1.4rem;
              font-family: $sans;
              font-weight: 400;
              letter-spacing: 0.2rem;
              line-height: 1.4rem;
            }

            span {
              color: white;
              font-size: 1.4rem;
              font-family: $sans;
              font-weight: 400;
              letter-spacing: 0.2rem;
              line-height: 1.4rem;
            }

            .fas {
              display: inline-block;
              color: white;
              font-size: 1.2rem;
              margin-right: 1.4rem;
            }
          }
        }
      }

      .col-md-4 {
        ul {
          li {
            margin-bottom: 1rem !important;
          }
        }
      }

      .col-md-2 {
        padding-top: 6rem;
        padding-bottom: 8rem;

        ul {
          li {
            .fab {
              color: white;
              font-size: 3rem;
              line-height: 5rem;
            }
          }
        }
      }
    }
  }
}

// END FOOTER

//ContactPage
.contact-banner {
  position: relative;
  width: 100%;
  height: 55rem;
  background: url("../../assets/img/contact-banner.jpg") no-repeat fixed;

  .contact-banner-graylayer {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
  }

  .container {
    h4 {
      font-size: 6.3rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}

.contact-map-frame {

  .col-md-6 {
    padding: 2rem 2rem;

    h4 {
      font-size: 3.2rem;
      font-weight: 600;
      font-family: 'Raleway', sans-serif;
      color: $main-blue;
      margin-left: 5rem;
      margin-bottom: 2rem;
      display: block;
    }

    p {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: $main-black;
      margin-left: 5rem;
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.6rem;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      color: $main-black;
      margin-left: 5rem;
      display: inline-block;
      margin-bottom: 3rem;
    }

    iframe {
      width: 100%;
      height: 40rem;
      margin-left: 5rem;
    }
  }
}

// Join-us Page

.join-us-banner {
  background: url("../../assets/img/join-us.jpg") no-repeat fixed !important;
  background-size: cover !important;
}

// About-us Page
.about-us-content {
  .aboutus {
    margin: 6rem auto;

    h4 {
      position: relative;
      color: #01286E;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    p {
      text-align: justify;
      color: #333;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 3rem;
      max-width: 114rem;
      display: block;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 4rem;
    }
  }

  .vision {
    margin-bottom: 6rem;

    h4 {
      position: relative;
      color: #01286E;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    p {
      text-align: justify;
      color: #333;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 3rem;
      max-width: 114rem;
      display: block;
      margin: auto;
      margin-top: 6rem;
      margin-bottom: 4rem;
    }
  }

  .mission {
    margin-bottom: 6rem;

    h4 {
      position: relative;
      color: #01286E;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 4.6rem;
      line-height: 5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    ul {


      li {
        background: url("../img/mini-logo.png") no-repeat left top;
        text-align: justify;
        color: #333;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 3rem;
        max-width: 114rem;
        display: block;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 4rem;
        padding-left: 5rem;
      }
    }
  }
}

// Media
@media (max-width: 576px) {
  .logo {
    width: 16rem !important;
    height: 4rem !important;
  }
  .carousel.slide {

    height: 45rem !important;

    .carousel-indicators {
      bottom: -5rem !important;

      li {
        width: 3rem !important;
        height: 0.3rem !important;
        background-color: $main-blue;
      }
    }

    .carousel-inner {
      height: 100%;
      background: black;

      .carousel-item {
        height: 100%;

        img {
          width: auto !important;
          filter: brightness(30%);
          object-fit: cover;
          position: relative;
          background-size: cover;
          height: 100% !important;
          overflow: hidden;
        }

        .text-2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          display: block;
          width: 100% !important;

          h2 {
            font-size: 3rem !important;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: #f7f7f7;
            margin-bottom: 2rem !important;
            margin: 0 3rem !important;
            text-align: center;
          }

          p {
            font-size: 1.4rem !important;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #f7f7f7;
            max-width: 34rem !important;
            margin-left: 3rem !important;
            letter-spacing: 0.2rem !important;
            text-align: center;
            margin-top: 2rem !important;
          }
        }

        video {
          display: block;
          width: auto;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }

        .video-retail {
          object-position: 0;
          overflow: hidden;
          filter: brightness(50%);
        }

        .video-insurance {
          object-position: -25rem !important;
        }
      }
    }


    .carousel-control-prev {
      opacity: 0;

      span {
        .fa-chevron-circle-left {
          font-size: 4.6rem;
          color: white;
        }
      }
    }

    .carousel-control-next {
      opacity: 0;

      span {
        .fa-chevron-circle-right {
          font-size: 4.6rem;
          color: white;
        }
      }
    }
  }
  .button-fom {
    margin-top: 4rem !important;
    padding: 1rem 3rem !important;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 1.4rem !important;
  }
  .btn-info {
    margin-top: 4rem !important;
    width: 50% !important;
    margin: auto auto;
  }
  .btn-warning {
    width: 50%;
  }

  // ContactPage
  .contact-banner {
    position: relative;
    width: 100%;
    height: 45rem;
    background: url("../../assets/img/contact-banner.jpg") no-repeat fixed;

    .contact-banner-graylayer {
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.5;
    }

    .container {
      h4 {
        font-size: 3.6rem;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

    }
  }
  .contact-map-frame {

    .col-md-6 {
      padding: 2rem 2rem;

      h4 {
        margin-left: 0 !important;
      }

      p {
        margin-left: 0 !important;
      }

      span {
        margin-left: 0 !important;
      }

      iframe {
        width: 100%;
        height: 40rem;
        margin-left: 0 !important;
      }
    }
  }

  footer {
    background: $footer-black;
    width: 100%;

    .container {
      max-width: 114rem;

      .row {
        .col-md-3, .col-md-4 {
          padding-top: 2rem;
          padding-bottom: 3rem;

          h4 {
            color: white;
            font-size: 2.1rem;
            font-family: $sans;
            font-weight: 600;
            margin-bottom: 2rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
          }

          ul {
            li {
              p {
                color: white;
                font-size: 1.2rem;
                font-family: $sans;
                font-weight: 400;
                letter-spacing: 0.2rem;
                line-height: 1.2rem;
              }

              span {
                color: white;
                font-size: 1.2rem;
                font-family: $sans;
                font-weight: 400;
                letter-spacing: 0.2rem;
                line-height: 1.2rem;
              }

              .fas {
                display: inline-block;
                color: white;
                font-size: 1.2rem;
                margin-right: 1.4rem;
              }
            }
          }
        }

        .col-md-4 {
          ul {
            li {
              margin-bottom: 1rem !important;
            }
          }
        }

        .col-md-2 {
          padding-top: 2rem;
          padding-bottom: 3rem;

          ul {
            li {
              float: left;

              .fab {
                color: white;
                font-size: 3rem;
                line-height: 5rem;
                margin-right: 2rem;
              }
            }
          }
        }
      }
    }
  }

  //media-temenos

  .temenos-banner {
    background: url("../../assets/img/temenos-banner-mobile.png") no-repeat center !important;
    height: 50rem;
    background-size: cover;
  }
  .detail-temenos {


    h4 {
      font-size: 5.5rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: #01286E;
      margin: 3rem auto;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    img {
      width: 100%;
      margin: 0 auto;
      margin-top: 6rem;
      height: auto;
    }

    .custom-container {
      max-width: 99.6rem;
      margin: 2rem auto;

      ul {
        li {
          background: url("../img/temenos-mini-logo.png") no-repeat left top;
          text-align: left;
          color: #333;
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 2.1rem;
          line-height: 3rem;
          max-width: 114rem;
          display: block;
          margin: auto;
          margin-top: 1rem;
          margin-bottom: 4rem;
          padding-left: 5rem;
        }
      }
    }

  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

/* Animation */
.blue-bg {
  transition: 0.4s;
  z-index: 16;
  position: fixed;
  background: $main-blue;

}

.white-font {
  color: white !important;
  font-size: 1.6rem !important;
}

.scroll-lineheight {
  line-height: 3.2rem !important;
}

.flag-height {
  height: 1.5rem !important;
}

//Custom for content
// Temenos
.temenos-banner {
  background: url("../../assets/img/temenos-banner.png") no-repeat center;
  height: 50rem;
  background-size: contain;
}

.temenos {
  .about-temenos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    max-width: 99.6rem;

    h3 {
      position: relative;
      font-size: 5.5rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: #01286E;
      margin-bottom: 5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    h4 {
      font-size: 2.4rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: $main-blue;
      max-width: 99.6rem;
      margin: 8rem auto;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      color: #000000cc;
      max-width: 80rem;
      margin: 2rem auto;
    }
  }

  .number-about-temenos {
    margin: 8rem auto;

    .col-md-3 {
      h1 {
        font-size: 6rem;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        color: $main-blue;
      }

      p {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        color: black;
        max-width: 16rem;
        margin: 2rem auto;
      }
    }
  }

  .detail-temenos {


    h4 {
      font-size: 5.5rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      color: #01286E;
      margin: 3rem auto;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 100px;
        height: 4px;
        margin-left: -50px;
        background-color: $main-blue;
      }
    }

    img {
      width: 100%;
      margin: 0 auto;
      margin-top: 6rem;
      height: auto;
    }

    .custom-container {
      max-width: 99.6rem;
      margin: 2rem auto;

      ul {
        li {
          background: url("../img/temenos-mini-logo.png") no-repeat left top;
          text-align: left;
          color: #333;
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 2.1rem;
          line-height: 3rem;
          max-width: 114rem;
          display: block;
          margin: auto;
          margin-top: 6rem;
          margin-bottom: 4rem;
          padding-left: 5rem;
        }
      }
    }

  }
}


